#Header nav {
  background-color: #fff;
  padding: 0 1.5rem;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Header nav ul {
  /* max-width: 500px; */
  display: flex;
  /* justify-content: space-between; */
}
#Header nav ul > a {
  position: relative;
  color: #3c4186;
  padding: 1.5rem;
  background-size: 400%;
  background-position: 100%;

  background-image: linear-gradient(40deg, #7c3aed 35%, transparent 70%);
  transition: 0.4s all;
}

#Header nav ul > a:hover {
  background-position: 0;
  color: #fff;
}
#Header .logo__header {
  height: 70px;
}
#Header .logo__header img {
  width: 70px;
}
#Header .icons {
  display: flex;
  gap: 3rem;
}
#Header .icons span {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #Header .logo__header {
    display: none;
  }
  #Header nav ul > a {
    padding: 1rem;
    background: transparent;
  }
  #Header nav ul > a:hover {
    color: #3c4186;
  }
  #Header .icons {
    gap: 1rem;
  }
  #Header .icons svg {
    width: 20px;
  }
}
@media screen and (max-width: 500px) {
  #Header .icons {
    display: none;
  }
  #Header nav ul {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
