#root {
  margin: 0 auto;

  /* text-align: center; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  padding-bottom: 2rem;
}
.product__container {
  max-width: 1280px;
  border-radius: 12px;
  padding: 3rem;
  background-color: rgb(236, 248, 248);
  margin: auto;
  max-width: 800px;
  margin-top: 5rem;
  line-height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 1px 2.5px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.react {
  color: red;
}
.react:hover {
  color: blue;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .product__container {
    margin: 3rem;
    margin-bottom: 0;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
